body
{
	color: white;
	background-color: black;
	
	font-family: 'NanumSquare', sans-serif;
	font-weight: 1;
	
	margin: 0px;
	padding: 0px;
}

.init
{
	width: 100%;
	height: 100%;
	
	padding-top: 80%;
	
	font-size: 3rem;
	text-align: center;
	
	position: absolute;
	background-color: black;
	
	z-index: 1;
}

.testBox
{
	background-color: rgba(46, 94, 206, 0.55);
}

.top
{
	width: 100%;
	height: 250px;
}

.itemBox
{
	width: 300px;
	
	float: left;
	
	margin-left: 50px;
	margin-bottom: 80px;
}

.itemBoxR
{
	width: 300px;
	
	text-align: right;
	
	float: right;	
	margin-right: 50px;
	margin-bottom: 50px;
}

.itemBoxR .menu
{
	text-align: right;
}

.menu
{
	font-size: 2rem;
	font-weight: 500;
}

.underline
{
	width: 300px;
	
/* 	margin-left: 30px; */
}

#timeBox
{
	margin-top: 50px;
	margin-left: 50px;
	
	color: white;
	float: left;
	
/* 	width: 300px; */
	height: 150px;
	
/* 	background-color: rgba(46, 94, 206, 0.55); */
}

#timeBox #time
{
	font-size: 4rem;
	text-align: left;
}

#timeBox #date
{
	font-size: 2rem;
	text-align: left;
	
	margin-left: 2px;
}


#weatherBox
{
	float: right;
	
	margin-top: 50px;
	margin-right: 50px;
	
	margin-bottom: 50px;
}

#weatherBox #temperature
{
	font-size: 5rem;
/* 	font-weight: bold; */
}

#weatherBox #weather
{
	text-align: center;
	font-size: 2rem;
}

#imgWeather
{
	width: 50px;
}

.item
{
	font-size: 1.8rem;
	
	margin-top: 2px;
}

table
{
	width: 100%;
}

td
{
	font-size: 1.8rem;
}

.grid
{
	padding-top: 110%; /* MAXIMUM 130% */

	width: 100%;
/* 	height: 100%; */
	
	position: absolute;
}

.table
{
	display: table;
/* 	position: relative; */
	
	width: 100%;
	height: 200px;
	
	border: 2px solid #666;
}

.table-cell
{
	display:table-cell;
	vertical-align:middle;
}

.schoolBus
{
	margin-top: 50px;
	margin-left: 50px;
	
	color: white;
	
	width: 300px;
	height: 150px;
	
/* 	background-color: rgba(46, 94, 206, 0.55); */
}

#result
{
	font-size: 3rem;
	text-align: center;
	
	margin-left: 10%;
	margin-right: 10%;
	
/* 				margin-top: 20%; */
	
	margin: 0 auto;
	
/* 				background-color: red; */
}